name: ci

on:
  push:
    branches:
      - main
      - test
      - dev
  pull_request:
    branches:
      - main
      - test
      - dev

jobs:

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./cmd/api/... ./internal/... ./tests/...

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"
          cache: true

      - name: Build API
        run: go build -v -o api-bin ./cmd/api